/***Button***/
.btn1{
	display: inline-block;
	position: relative;
	padding: 0 50px;
	line-height: 50px;
	height: 50px;
	background: $primary-color;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
	border-radius: 50px;
	z-index: 999;
	&:hover{
		background:#111;
		color: #fff;
		animation-duration: 1s;
	    animation-delay: 300ms;
	    animation-iteration-count: 1;
	    animation-name: pulse;
	}
}
