/*** Padding ***/
.pd-0{
	padding: 0;
}
.pd-t0{
	padding-top: 0px; 
}
.pd-t5{
	padding-top: 5px; 
}
.pd-t10{
	padding-top: 10px; 
}
.pd-t15{
	padding-top: 15px; 
}
.pd-t20{
	padding-top: 20px; 
}
.pd-t25{
	padding-top: 25px; 
}
.pd-t30{
	padding-top: 30px; 
}
.pd-t35{
	padding-top: 35px; 
}
.pd-t40{
	padding-top: 40px; 
}
.pd-t45{
	padding-top: 45px; 
}
.pd-t50{
	padding-top: 50px; 
}
.pd-t60{
	padding-top: 60px; 
}
.pd-t70{
	padding-top: 70px; 
}
.pd-t80{
	padding-top: 80px; 
}
.pd-t90{
	padding-top: 90px; 
}
.pd-t100{
	padding-top: 100px; 
}
.pd-t110{
	padding-top: 110px; 
}
.pd-t120{
	padding-top: 120px; 
}
.pd-t130{
	padding-top: 130px; 
}
.pd-t140{
	padding-top: 140px; 
}
.pd-t150{
	padding-top: 150px; 
}
.pd-b0{
	padding-bottom: 0px; 
}
.pd-b5{
	padding-bottom: 5px; 
}
.pd-b10{
	padding-bottom: 10px; 
}
.pd-b15{
	padding-bottom: 15px; 
}
.pd-b20{
	padding-bottom: 20px; 
}
.pd-b25{
	padding-bottom: 25px; 
}
.pd-b30{
	padding-bottom: 30px; 
}
.pd-b35{
	padding-bottom: 35px; 
}
.pd-b40{
	padding-bottom: 40px; 
}
.pd-b45{
	padding-bottom: 45px; 
}
.pd-b50{
	padding-bottom: 50px; 
}
.pd-b60{
	padding-bottom: 60px; 
}
.pd-b70{
	padding-bottom: 70px; 
}
.pd-b80{
	padding-bottom: 80px; 
}
.pd-b90{
	padding-bottom: 90px; 
}
.pd-b100{
	padding-bottom: 100px; 
}
.pd-b110{
	padding-bottom: 110px; 
}
.pd-b120{
	padding-bottom: 120px; 
}
.pd-b130{
	padding-bottom: 130px; 
}
.pd-b140{
	padding-bottom: 140px; 
}
.pd-b150{
	padding-bottom: 150px; 
}
.pd-l0{
	padding-left: 0px; 
}
.pd-l5{
	padding-left: 5px; 
}
.pd-l10{
	padding-left: 10px; 
}
.pd-l15{
	padding-left: 15px; 
}
.pd-l20{
	padding-left: 20px; 
}
.pd-l25{
	padding-left: 25px; 
}
.pd-l30{
	padding-left: 30px; 
}
.pd-l35{
	padding-left: 35px; 
}
.pd-l40{
	padding-left: 40px; 
}
.pd-l45{
	padding-left: 45px; 
}
.pd-l50{
	padding-left: 50px; 
}
.pd-l60{
	padding-left: 60px; 
}
.pd-l70{
	padding-left: 70px; 
}
.pd-l80{
	padding-left: 80px; 
}
.pd-l90{
	padding-left: 90px; 
}
.pd-l100{
	padding-left: 100px; 
}
.pd-l110{
	padding-left: 110px; 
}
.pd-l120{
	padding-left: 120px; 
}
.pd-l130{
	padding-left: 130px; 
}
.pd-l140{
	padding-left: 140px; 
}
.pd-l150{
	padding-left: 150px; 
}
.pd-r0{
	padding-right: 0px; 
}
.pd-r5{
	padding-right: 5px; 
}
.pd-r10{
	padding-right: 10px; 
}
.pd-r15{
	padding-right: 15px; 
}
.pd-r20{
	padding-right: 20px; 
}
.pd-r25{
	padding-right: 25px; 
}
.pd-r30{
	padding-right: 30px; 
}
.pd-r35{
	padding-right: 35px; 
}
.pd-r40{
	padding-right: 40px; 
}
.pd-r45{
	padding-right: 45px; 
}
.pd-r50{
	padding-right: 50px; 
}
.pd-r60{
	padding-right: 60px; 
}
.pd-r70{
	padding-right: 70px; 
}
.pd-r80{
	padding-right: 80px; 
}
.pd-r90{
	padding-right: 90px; 
}
.pd-r100{
	padding-right: 100px; 
}
.pd-r110{
	padding-right: 110px; 
}
.pd-r120{
	padding-right: 120px; 
}
.pd-r130{
	padding-right: 130px; 
}
.pd-r140{
	padding-right: 140px; 
}
.pd-r150{
	padding-right: 150px; 
}
.pd-0{
	padding: 0px; 
}
.pd-5{
	padding: 5px; 
}
.pd-10{
	padding: 10px; 
}
.pd-15{
	padding: 15px; 
}
.pd-20{
	padding: 20px; 
}
.pd-25{
	padding: 25px; 
}
.pd-30{
	padding: 30px; 
}
.pd-35{
	padding: 35px; 
}
.pd-40{
	padding: 40px; 
}
.pd-45{
	padding: 45px; 
}
.pd-50{
	padding: 50px; 
}
.pd-60{
	padding: 60px; 
}
.pd-70{
	padding: 70px; 
}
.pd-80{
	padding: 80px; 
}
.pd-90{
	padding: 90px; 
}
.pd-100{
	padding: 100px; 
}
.pd-110{
	padding: 110px; 
}
.pd-120{
	padding: 120px; 
}
.pd-130{
	padding: 130px; 
}
.pd-140{
	padding: 140px; 
}
.pd-150{
	padding: 150px; 
}