footer{
	position: relative;
	display: block;
	background: #0c0c0c;
	line-height: 160px;
	height: 160px;
	@include res(m768){height: auto;line-height: 26px;padding: 50px 0;text-align: center;}
	.foo-logo{
		a{
			display: inline-block;
			img{

			}
		}
	}
	.copyright{
		display: block;
		text-align: right;
		@include res(m768){text-align: center;margin: 20px 0 0;}
		p{
			margin: 0;
			color: rgba(255, 255, 255, 0.5);
		}
	}
}